.container {
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url('/images/brand/logo1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20rem;
}
.title2 {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Cascadia Code';
  color: rgb(0, 0, 0);
}
.canvas {
  height: 100vh;
  width: 100%;
}

